/*#container { display:block; }
         @media only screen and (orientation:portrait){
            #container {  
                  -webkit-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
                 }
 
         }
         @media only screen and (orientation:landscape){
            #container {  
                  -webkit-transform: rotate(0deg);
                  -moz-transform: rotate(0deg);
                  -o-transform: rotate(0deg);
                  -ms-transform: rotate(0deg);
                  transform: rotate(0deg);
                 }
         }


    @media only screen and (orientation: portrait) and (max-width: 555px) {
    #container {
    transform: rotate(90deg);
    width: calc(155%);}
    .container.fluid {
    width: calc(155%);
    }
  }*/

  .controles{
    width: 80px;
    height: 50px;
}
.tamaño{
    width: 80px;
}
.imagen{
    vertical-align:super;
    position:relative;
    
    height: 80%;
    width: 100%;
}
#centrar{
    width: 50px;
}